* {
    font-family:'Roboto', Tahoma, Geneva, Verdana, sans-serif
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: space-between;
    min-height: 100vh; /* Full  height */
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px 0px;
    background-color: #f0f0f0;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 24px 50px;
    background-color: yellow;
    gap: 16px;
}

.container {
    height: 300px;
    outline: 2px solid blue;
}

.set {
    display: flex;
    flex: 0 0 150px;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 16px;
    padding: 16px;
    text-align: center;
}

.card {
    border-radius: 25px;
    outline: 2px solid  #1F2937;
    height: 100px;
    width: 150px; /* specify height and width with cards always */
    padding: 8px;
}

.cardtext {
    margin-top: -16px;
    height: 100px;
    width: 166px;
}

.qcontainer {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    outline: 2px solid red;
    background-color: #f0f0f0;
}
.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 204px;
    background-color: blue;
    margin: 48px 124px;
    gap: 16px;
}
.lastchance {
    height: 24px;
    width: 100px;
}
.bottom {
    text-align: center;
    font-size: 12px;
}